:root{
    --green-col: lime;
    --text-col: rgba(0, 0, 0, 0.75);
    --light-text-col: aliceblue;
    --transparent-col: rgba(0, 0, 0, 0.479);
}
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
    justify-items: center;
    box-sizing: border-box;
}
body * {
    border-radius: .25rem;
    margin: .25rem 0;
    color: var(--text-col);
}
h1{
    font-family: cursive;
    justify-self: center;
    margin-top: 0rem;
}
button{
    width: 100%;
    height: 100%;
    box-shadow: -.1rem .1rem .125rem var(--transparent-col);
    border: none;
    color: var(--light-text-col);
    background-color: var(--green-col);
    font-size:large
}
button:hover{
    opacity: 50%;
}
header {
    text-align: center;
}
#pi-section, #od-section, #ac-section{
    padding: .25rem 0rem;
}
#pi-section *, #od-section *, #ac-section *{
    padding: .5rem 0rem;
}
#pi-topping-bubble{
    background-color: var(--green-col);
    border-radius: 1rem;
    padding: .5rem;
    color:var(--light-text-col)
}
#confirm-nav-btns{
    display: flex;
    justify-content: space-evenly;
}
#confirm-nav-btns a{
    width: 100%;
    padding: .25rem;
}
#ac-comments{
    padding: .25rem 1rem;
    border-left: solid .125rem var(--green-col);
}